[Unit]
Description=systemctl-init-service

[Service]
Type=simple

ExecStart=/sbin/systemctl-init-service
Restart=always
RestartSec=15
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=systemctl-init-service

KillSignal=SIGTERM
TimeoutStartSec=15
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target