[Unit]
Description=dummy-daemon

[Service]
Type=simple

ExecStart=/sbin/dummy-daemon.sh
Restart=always
RestartSec=15
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dummy-daemon

KillSignal=SIGTERM
TimeoutStartSec=15
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target